.container {
  height: 100%;
  width: 100%;

  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;

  gap: var(--mantine-spacing-md);
}

.subtitle {
  margin: 0;
  padding: 0;
}

.buttonContainer {
  height: 100%;
  width: 100%;

  display: flex;
  flex-flow: row nowrap;

  justify-content: space-between;
  align-items: center;
  gap: var(--mantine-spacing-md);
}
