$defaultSpacing: calc(0.25rem * var(--mantine-scale));

.target {
  position: absolute;
  z-index: 100;
  min-width: 9.5rem;
}

.dropdownContainer {
  width: 100%;
  padding: calc($defaultSpacing * 2) 0;

  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  gap: $defaultSpacing;
}

.divider {
  width: 100%;

  margin: 0.25rem 0;
}

.label {
  margin: 0 calc($defaultSpacing * 2) !important;
}
