// .parent,
// .header,
.container,
.showActions,
.walkthroughActions,
.loadShowContainer,
.actionContainer,
.footer {
  // border: 1px solid red;
}

.parent {
  height: 100vh;
  width: 100vw;

  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
}

.header {
  padding: var(--mantine-spacing-lg) 0 0 0;
}

.container {
  height: 100%;
  width: 100%;

  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-evenly;
}

.showActions {
  width: 40%;
  height: 80%;
}

.showActions {
  display: flex;
  flex-flow: column wrap;

  justify-content: flex-start;
  align-items: flex-start;
  gap: var(--mantine-spacing-md);
}

.actionContainer,
.loadShowContainer {
  width: 100%;
}

.loadShowContainer {
  // TODO: have this take up remaining space
}

.box {
  padding: var(--mantine-spacing-xs);

  background-color: light-dark(
    var(--mantine-color-gray-0),
    var(--mantine-color-dark-6)
  );

  border-width: 1px;
  border-style: solid;
  border-radius: var(--mantine-radius-sm);

  &.dark {
    border-color: var(--mantine-color-dark-4);
  }

  &.light {
    border-color: var(--mantine-color-gray-3);
  }
}

.walkthroughActions {
  width: 40%;
  height: 80%;
}

.actionContainer {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  gap: var(--mantine-spacing-sm);
}

.buttons {
  width: 14rem;

  display: flex;
  flex-flow: column;
  gap: var(--mantine-spacing-xs);
}

.footer {
  padding: 0 0 var(--mantine-spacing-sm) 0;
}
