.container {
  width: 100%;

  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  gap: var(--mantine-spacing-md);
}

// play/pause, zoom controls
.controlsContainer {
  width: 100%;

  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  gap: var(--mantine-spacing-lg);
}

.waveform {
  width: 100%;
  padding: calc(0.25rem * var(--mantine-scale));

  border: calc(0.0625rem * var(--mantine-scale)) solid
    light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
  border-radius: var(--mantine-radius-sm);
}
